@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inconsolata', monospace;
}

.container {
    background-color: black;
    background-image: url(background12.png );
    min-height: 100vh;
    background-position: center;
    /* background-size: cover; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    flex-direction: column;
    /* height: 70vh; */
    background-color: rgba(255, 255, 255, 0.4);
    /* opacity: 0.8; */
    backdrop-filter: blur(13px);
    padding: 1rem 2rem;
    /* width: 400px; */
    max-width: 500px;
    border-radius: 20px;
}

.login-box .security{
    width: 50%;
    margin-bottom: 10px;
}

.login-box .team{
    display: flex;
    flex-direction: column;
}
.login-box .pass{
    display: flex;
    flex-direction: column;
}
.pass label,.team label{
    margin: 30px 0px 2px 0px;
    padding-left: 10px;
    color: white;
    font-size: 20px;
}
.pass input,.team input{
    height: 45px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
    font-size: 20px;
    padding: 0px 18px;
    border: none;
    outline: none;
    letter-spacing: 1px;
}
::placeholder{
    letter-spacing: 1px;
    font-size: 15px;
}

.login-box button {
    margin: 40px 0px 20px 0px;
    outline: none;
    height: 45px;
    width: 58%;
    border-radius: 10px;
    border: none;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}


.login-box button:hover {
    transform: scale(1.1);
}
